/*general css*/
.margin-0-auto{
    margin: 0 auto;
}
.padding-2{
    padding: 2px !important;
}

/*login css*/
.login-panel{
    margin-top: 100px;
    border: solid #cbcbd2;
    border-radius: 10px;
    padding: 20px;
}

/*index css*/
.body-img{
    width: 750px;
    height: 788px;
    opacity: 100;
    position: absolute;
    left: 0;
    top: 60px;
    padding: 0;
    border: 0;
}
/*popup css*/
/* Modal Background */
.btn-circle {
    position: absolute;
    top: 57%;
    left: 56%;
    width: 40px;
    height: 40px;
    background-color: Transparent;
    border: 2px solid black;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.hover-info-style{     
    font-family: Quicksand-Regular; 
    font-size: 10px; 
    text-align: left; 
    padding: 5px; 
    background-color: #ffffff; 
    opacity: 0.8; 
    position:absolute; 
    border: 2px dashed rgb(17,45,138); 
    border-radius: 10px; 
    height: 150px; 
    width: 250px; 
    display: none; 
}

.column-left {
  float: left;
  width: 50%;
}

.column-right {
  float: left;
  width: 50%;
}

#rectangle {
    width:200px;
    height:100px;
    border: 2px solid #cbcbd2;
}

/*history css*/
