/*general css*/
.margin-0-auto{
    margin: 0 auto;
}

/*login css*/
.login-panel{
    margin-top: 100px;
    border: solid #cbcbd2;
    border-radius: 10px;
    padding: 20px;
}

/*index css*/
.body-img{
    width: 750px;
    height: 788px;
    opacity: 100;
    position: absolute;
    left: 320px;
    top: 60px;
    padding: 0;
    border: 0;
}

/*history css*/

td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

.historytable{
    border: 1px solid black;
}

.unhighlighted{
    border: 1px solid black;    
    background: white;
}

.highlighted {
    
    border: 1px solid black;
    background: yellow;
}